<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(/assets/img/bg-img/3.jpg);">
      <div class="container">
        <div class="row">
  
          <!-- Single Footer Widget Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="footer-widget mb-80">
              <a href="#" class="foo-logo d-block mb-30" style="color:#f89f24;">NWASSA</a>
             
              <div class="contact-info">
                <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>2 Osborne Forshore Towers Ikoyi Lagos.</span></p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i><span>admin@nwassa.com</span></p>
                <p><i class="fa fa-phone" aria-hidden="true"></i><span>+234 811 1109 360</span></p>
              </div>
            </div>
          </div>  
  
        </div>
      </div>
    </div>
  
    <!-- Copywrite Area  -->
    <div class="copywrite-area">
      <div class="container">
        <div class="copywrite-text">
          <div class="row align-items-center">
            <div class="col-md-6">
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  </p>
            </div>
            <div class="col-md-6">
              <div class="footer-nav">
                <nav>
                  <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="market-prices">
      <div class="title">
          Market Price
      </div>
      <div class="marquee"> 
          <ul class="marquee-content">
              <li>
                  <article>
                      <span class="product-title">
                          Cocoa
                      </span>
                      <div>
                          <span>
                              N120,000
                          </span>
                          <span class="market-value">
                              0.00% <i class="fas fa-arrow-right"></i>
                          </span>
                      </div>
                  </article>
              </li>
              <li>
                <article>
                    <span class="product-title">
                        Maize
                    </span>
                    <div>
                        <span>
                            N120,000
                        </span>
                        <span class="market-value-red">
                            -0.10% <i class="fas fa-arrow-down danger"></i>
                        </span>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <span class="product-title">
                        Soybeans
                    </span>
                    <div>
                        <span>
                            N120,000
                        </span>
                        <span class="market-value">
                            0.00% <i class="fas fa-arrow-right"></i>
                        </span>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <span class="product-title">
                        Rice
                    </span>
                    <div>
                        <span>
                            N120,000
                        </span>
                        <span class="market-value-green">
                            +0.20% <i class="fas fa-arrow-up success"></i>
                        </span>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <span class="product-title">
                        Ginger
                    </span>
                    <div>
                        <span>
                            N120,000
                        </span>
                        <span class="market-value-green">
                            +0.15% <i class="fas fa-arrow-up"></i>
                        </span>
                    </div>
                </article>
            </li>
              <li>
                  <article>
                      <span class="product-title">
                          Cassava
                      </span>
                      <div>
                          <span>
                              N120,000
                          </span>
                          <span class="market-value">
                              0.00% <i class="fas fa-arrow-right"></i>
                          </span>
                      </div>
                  </article>
              </li>
              <li>
                  <article>
                      <span class="product-title">
                          Yam
                      </span>
                      <div>
                          <span>
                              N120,000
                          </span>
                          <span class="market-value">
                              0.00% <i class="fas fa-arrow-right"></i>
                          </span>
                      </div>
                  </article>
              </li>
              <li>
                  <article>
                      <span class="product-title">
                          Potato
                      </span>
                      <div>
                          <span>
                              N120,000
                          </span>
                          <span class="market-value-red">
                              -0.05% <i class="fas fa-arrow-down"></i>
                          </span>
                      </div>
                  </article>
              </li>
  
              <li>
                  <article>
                      <span class="product-title">
                          Beans
                      </span>
                      <div  class="product-detail">
                          <span>
                              N120,000
                          </span>
                          <span class="market-value-green">
                              +0.10% <i class="fas fa-arrow-up"></i>
                          </span>
                      </div>
                  </article>
              </li>
              <li>
                  <article>
                      <span class="product-title">
                          Cocoa
                      </span>
                      <div>
                          <span>
                              N120,000
                          </span>
                          <span class="market-value">
                              0.00% <i class="fas fa-arrow-right"></i>
                          </span>
                      </div>
                  </article>
              </li>
              <li>
                <article>
                    <span class="product-title">
                        Maize
                    </span>
                    <div>
                        <span>
                            N120,000
                        </span>
                        <span class="market-value-red">
                            -0.10% <i class="fas fa-arrow-down danger"></i>
                        </span>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <span class="product-title">
                        Soybeans
                    </span>
                    <div>
                        <span>
                            N120,000
                        </span>
                        <span class="market-value">
                            0.00% <i class="fas fa-arrow-right"></i>
                        </span>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <span class="product-title">
                        Rice
                    </span>
                    <div>
                        <span>
                            N120,000
                        </span>
                        <span class="market-value-green">
                            +0.20% <i class="fas fa-arrow-up success"></i>
                        </span>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <span class="product-title">
                        Ginger
                    </span>
                    <div>
                        <span>
                            N120,000
                        </span>
                        <span class="market-value-green">
                            +0.15% <i class="fas fa-arrow-up"></i>
                        </span>
                    </div>
                </article>
            </li>
              <li>
                  <article>
                      <span class="product-title">
                          Cassava
                      </span>
                      <div>
                          <span>
                              N120,000
                          </span>
                          <span class="market-value">
                              0.00% <i class="fas fa-arrow-right"></i>
                          </span>
                      </div>
                  </article>
              </li>
              <li>
                  <article>
                      <span class="product-title">
                          Yam
                      </span>
                      <div>
                          <span>
                              N120,000
                          </span>
                          <span class="market-value">
                              0.00% <i class="fas fa-arrow-right"></i>
                          </span>
                      </div>
                  </article>
              </li>
          </ul>
      </div>
  </div>
  </footer>