<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
    <button type="button" class="close" (click)="dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body thin-scroll">
    <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
        Password is invalid
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form #changePasswordForm="ngForm" >
      <div class="form-group mb-3">          
        <div class="form-row">
            <div class="col-md-12 mb-3">
             <div class="form-label-group">
               <label for="currentPassword" class="text-bold text-dark"><b>Current Password</b></label>
               <input
                 id="currentPassword"
                 type="password"
                 class="form-control"
                 [ngClass]="{'is-invalid': currentPassword?.errors && currentPassword?.touched }"
                 name="currentPassword"
                 required="required"
                 [(ngModel)]="passwordModel.currentPassword"
                 #currentPassword="ngModel"
               />
               <span *ngIf="currentPassword.touched && !currentPassword.valid" class="text-danger">
                 This field is required
               </span>
             </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="form-label-group">
                  <label for="newPassword" class="text-bold text-dark"><b>New Password</b></label>
                  <input
                    id="newPassword"
                    type="password"
                    class="form-control"
                    [ngClass]="{'is-invalid': newPassword?.errors && newPassword?.touched }"
                    name="newPassword"
                    required="required"
                    [(ngModel)]="passwordModel.newPassword"
                    #newPassword="ngModel"
                  />
                  <span *ngIf="newPassword.touched && !newPassword.valid" class="text-danger">
                    This field is required
                  </span>
                </div>
               </div>

            <div class="col-md-12 mb-3">
             <div class="form-label-group">
               <label for="confirmPassword" class="text-bold text-dark"><b>Confirm Password</b></label>
               <input
                 id="confirmPassword"
                 type="password"
                 class="form-control"
                 [ngClass]="{'is-invalid': confirmPassword?.errors && confirmPassword?.touched }"
                 name="confirmPassword"
                 
                 required="required"
                 [(ngModel)]="passwordModel.confirmPassword"
                 #confirmPassword="ngModel"
               />
               <span *ngIf="confirmPassword.touched && passwordNotMatchErrorDisplay()" class="text-danger">
                 Passwords do not match!
               </span>
             </div>
            </div>
          </div>
    </div>
    </form>    
  </div>
  <div class="modal-footer">
    <button (click)="dismiss()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button 
        [disabled]="!changePasswordForm.valid || isProcessing"
        (click)="save()" 
        type="button"
        class="btn text-light" 
        style="background-color: #f89f24;">
        <i class="fas"
        [ngClass]="{'fa fa-save icon-pointer': !isProcessing, 'fa-spinner fa-spin': isProcessing}"></i>
        Save
    </button>
</div>
