<app-navbar></app-navbar>

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('/assets/img/bg-img/18.jpg');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>Shop</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Shop Area Start ##### -->
  <section class="shop-area section-padding-0-100 mb-5">
    <div class="container">

      <div class="row">
        <!-- Shop Filters -->
        <div class="col-12">
          <div class="shop-filters mb-30 d-flex align-items-center justify-content-between">
            <!-- Product Show -->
            <div class="product-show">
              <!-- <h6>Showing 1–9 of 72 results</h6> -->
            </div>

            <!-- Product View Mode -->
            <div class="produtc-view-mode">
              <button class="btn" style="background-color: #f89f24; color:white" (click)="addProduct()">
                <i class="fas fa-plus"></i>
                Add Product
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Shop Sidebar Area -->
        <div class="col-12 col-md-4 col-lg-3">

          <!-- Shopping Cart -->
          <div class="shopping-cart mb-50">
            <h5 class="mb-30">Shopping Cart</h5>
            <!-- Cart Table -->
            <div class="cart-table clearfix">
              <table class="table table-responsive">
                <!-- tbody -->
                <tbody>
                  <!-- Single Table Row -->
                  <tr *ngFor="let item of cartItems">
                    <app-cart-item (removedItem)='removeItem($event)' [item]='item' ></app-cart-item>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <!-- SubTotal -->
            <div class="cart-summary d-flex align-items-center justify-content-between">
              <div class="sub-total">
                <h6>SUBTOTAL</h6>
              </div>
              <div class="total-price">
                <h6>{{ totalPrice | currency:"NGN":"&#8358;" }}</h6>
              </div>
            </div>
            <!-- Checkout -->
            <a
            angular4-paystack
            [email]="user.email"
            [amount]="totalPrice"
            [ref]="reference"
            (paymentInit)="paymentInit()"
            (close)="paymentCancel()"
            (callback)="checkOut($event, cartItems)"
            class="btn famie-btn checkout-btn mt-30 w-100 text-light">
            Checkout
          </a>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area" style="display: none;">
            <!-- Title -->
            <h5 class="widget-title">Catagories</h5>
            <!-- Cata List -->
            <ul class="cata-list shop-page">
              <li><a href="#">All products (72)</a></li>
              <li><a href="#">Freshy Fruits (20)</a></li>
              <li><a href="#">Rice &amp; Corn (15)</a></li>
              <li><a href="#">Meat &amp; Eggs (20)</a></li>
              <li><a href="#">Milk &amp; Cheese (15)</a></li>
              <li><a href="#">Others (2)</a></li>
            </ul>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area" style="display: none;">
            <!-- Title -->
            <h5 class="widget-title">Sort by</h5>
            <!-- Cata List -->
            <ul class="cata-list shop-page">
              <li><a href="#">Top rated</a></li>
              <li><a href="#">New arrivals</a></li>
              <li><a href="#">Alphabetically, A-Z</a></li>
              <li><a href="#">Alphabetically, Z-A</a></li>
              <li><a href="#">Price: low to high</a></li>
              <li><a href="#">Price: high to low</a></li>
            </ul>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area" style="display: none;">
            <!-- Title -->
            <h5 class="widget-title">Price</h5>
            <!-- Cata List -->
            <ul class="cata-list shop-page">
              <li><a href="#">$0.00 - $10.00</a></li>
              <li><a href="#">$10.00 - $50.00</a></li>
              <li><a href="#">$50.00 - $100.00</a></li>
              <li><a href="#">$100.00+</a></li>
            </ul>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area" style="display: none;">
            <!-- Title -->
            <h5 class="widget-title">Tags</h5>
            <!-- Tags -->
            <ul class="famie-tags">
              <li><a href="#">All product</a></li>
              <li><a href="#">Freshy Fruit</a></li>
              <li><a href="#">Sweet Corn</a></li>
              <li><a href="#">Chicken</a></li>
              <li><a href="#">Organic</a></li>
              <li><a href="#">Meat</a></li>
            </ul>
          </div>

        </div>

        <!-- Shop Products Area -->
        <div class="col-12 col-md-8 col-lg-9">
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12" *ngFor="let product of realProducts">
                <app-product (deletedProduct)="delete($event)" (selectedProduct)="addToCart($event)" [isProcessing]="isProcessing" [product]='product'></app-product>
            </div>
            <!-- <img src="https:localhost:44363/api/products/image?img=corona1.jpg" alt=""> -->
          </div>

          <!-- Pagination -->
          <!-- <nav>
            <ul class="pagination mb-0 mt-50">
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav> -->
        </div>
      </div>

    </div>
  </section>
  <!-- ##### Shop Area End ##### -->

  <app-footer></app-footer>

