<app-navbar></app-navbar>

<div class="container p-0 content-spacing">
    <div class="p-2">
      <div class="card-title mt-3">
        <h1 class="page-header"></h1>
      </div>
      <div class="card">
        <div class="card-header">
          <h6 class="card-title float-left">Personal Info</h6>
          <h6 class="float-right">
            <i *ngIf="!togglePersonalInfoSaveButton" class="fas fa-pencil-alt mr-2"
              (click)="editButtonClicked()"></i>
            <button *ngIf="togglePersonalInfoSaveButton" type="button" class="btn btn-outline-secondary mr-2"
              (click)="cancelPersonalInfoEditClicked()">
              <i class="fa fa-times icon-pointer mr-1"></i>Cancel
            </button>
            <button *ngIf="personalInfoForm.dirty && personalInfoForm.valid" type="button" class="btn btn-outline-primary"
              (click)="save(personalInfo.id)">
              <i class="fas"
                [ngClass]="{'fa fa-save icon-pointer': !isProcessing, 'fa-spinner fa-spin': isProcessing}"></i> Save
            </button>
          </h6>
        </div>
        <div class="card-body">
          <div class="conatainer-fluid">
            <div class="row">
              <div class="col-md-6 ">
                <div class="card-text">
                  <form #personalInfoForm="ngForm" class="personal-info">
                    <input type="hidden" name="id" [(ngModel)]="personalInfo.id" />
                    <div class="form-group row">
                      <label for="username" class="col-md-4 col-lg-4 col-sm-12 col-xm-12 col-form-label">First
                        Name</label>
                      <div class="col-md-8 col-lg-8 col-sm-12 col-xm-12">
                        <input [ngClass]="{
                          'toggle-border': !togglePersonalInfoSaveButton
                        }" id="firstname" name="firstName" class="form-control here" type="text"
                          [(ngModel)]="personalInfo.firstName" required #firstName="ngModel" maxlength="50" />
                        <!-- Change to form error display component -->
                        <span class="inlineStyle help-block float-left"
                          *ngIf="!firstName.valid && firstName.touched">required</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="name" class="col-md-4 col-lg-4 col-sm-12 col-xm-12 col-form-label">Last Name</label>
                      <div class="col-md-8 col-lg-8 col-sm-12 col-xm-12">
                        <input [ngClass]="{
                          'toggle-border': !togglePersonalInfoSaveButton
                        }" id="lastname" name="lastName" class="form-control here" type="text"
                          [(ngModel)]="personalInfo.lastName" required #lastName="ngModel" maxlength="50" />
                        <!-- Change to form error display component -->
                        <span class="inlineStyle help-block float-left"
                          *ngIf="!lastName.valid && lastName.touched">required</span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="middlename" class="col-md-4 col-lg-4 col-sm-12 col-xm-12 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-8 col-sm-12 col-xm-12">
                        <input id="middlename" name="email" class="form-control here toggle-border" type="text"
                          [(ngModel)]="personalInfo.email" #email="ngModel" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="nickname" class="col-md-4 col-lg-4 col-sm-12 col-xm-12 col-form-label">Phone Number</label>
                      <div class="col-md-8 col-lg-8 col-sm-12 col-xm-12">
                        <input [ngClass]="{
                          'toggle-border': !togglePersonalInfoSaveButton
                        }" id="nickname" name="phoneNumber" class="form-control here" type="text"
                          [(ngModel)]="personalInfo.phoneNumber" maxlength="50" #phoneNumber="ngModel" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="middlename" class="col-md-4 col-lg-4 col-sm-12 col-xm-12 col-form-label">BVN</label>
                      <div class="col-md-8 col-lg-8 col-sm-12 col-xm-12">
                        <input id="middlename" name="bvn" class="form-control here toggle-border" type="text"
                          [(ngModel)]="personalInfo.bvn" maxlength="20" #bvn="ngModel" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="pword" class="col-md-4 col-lg-4 col-sm-12 col-xm-12">Password</label>
                      <a (click)="changePassword()" class="link ml-4">Change password</a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6 img-container text-center">
                <img class="user-img float-right mt-3" [attr.src]="personalInfo.passportPhoto || defaultImg" alt="User_photo" />
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>

  <app-footer></app-footer>